write a program in python to implement feature generation and feature selection
Feature Generation
1)Mathematical Features
2)Temporal Features
3)Encoding
--LABEL
--ONE HOT
4)Interaction Features
5)Text Features
--bAG OF WORS
--TFIDF

Feature Selection
1)filter method
CORRELATION,CHI SQUARE,MUTUAL INFORMATION,ANNOVA FTEST
2)wrapper
3)decision tree classifier random forest

In [ ]:
import pandas as pd
import numpy as np

# Sample dataset with numeric columns
data = {
    'age': [25, 30, 45, 35, 50],
    'income': [25000, 40000, 60000, 50000, 80000],
    'expenses': [20000, 25000, 40000, 35000, 60000]
}

df = pd.DataFrame(data)
print("Original Data:")
print(df)

# -------------------------------
# 1️⃣ Mathematical / Statistical Features
# -------------------------------

# Mean, Median, Std Dev of numeric features (row-wise)
df['mean_value'] = df[['age', 'income', 'expenses']].mean(axis=1)
df['median_value'] = df[['age', 'income', 'expenses']].median(axis=1)
df['std_value'] = df[['age', 'income', 'expenses']].std(axis=1)

# Feature transformations
df['income_log'] = np.log1p(df['income'])      # log transform (handles skew)
df['income_sqrt'] = np.sqrt(df['income'])      # sqrt transform
df['income_square'] = df['income'] ** 2        # square transform

# Interaction features
df['income_expense_ratio'] = df['income'] / df['expenses']
df['income_minus_expense'] = df['income'] - df['expenses']

print("\nAfter Mathematical Feature Generation:")
print(df)

Original Data:
   age  income  expenses
0   25   25000     20000
1   30   40000     25000
2   45   60000     40000
3   35   50000     35000
4   50   80000     60000

After Mathematical Feature Generation:
   age  income  expenses    mean_value  median_value     std_value  \
0   25   25000     20000  15008.333333       20000.0  13214.583169
1   30   40000     25000  21676.666667       25000.0  20191.177116
2   45   60000     40000  33348.333333       40000.0  30525.956305
3   35   50000     35000  28345.000000       35000.0  25638.683176
4   50   80000     60000  46683.333333       60000.0  41605.298140

   income_log  income_sqrt  income_square  income_expense_ratio  \
0   10.126671   158.113883      625000000              1.250000
1   10.596660   200.000000     1600000000              1.600000
2   11.002117   244.948974     3600000000              1.500000
3   10.819798   223.606798     2500000000              1.428571
4   11.289794   282.842712     6400000000              1.333333

   income_minus_expense
0                  5000
1                 15000
2                 20000
3                 15000
4                 20000

In [ ]:
import pandas as pd
from datetime import datetime, timedelta
import numpy as np

# ------------------------------
# Sample dataset with timestamp
# ------------------------------
data = {
    'user_id': [101, 102, 103, 104, 105],
    'purchase_date': [
        '2024-01-10 14:30:00',
        '2024-02-15 09:15:00',
        '2024-03-20 20:45:00',
        '2024-07-05 11:10:00',
        '2024-12-25 18:00:00'
    ],
    'amount': [2500, 3200, 1800, 4000, 5000]
}

df = pd.DataFrame(data)

# Convert purchase_date to datetime
df['purchase_date'] = pd.to_datetime(df['purchase_date'])

print("Original Dataset:")
print(df)

# ------------------------------
# Temporal Feature Generation
# ------------------------------

# 1️⃣ Extract year, month, day, hour
df['year'] = df['purchase_date'].dt.year
df['month'] = df['purchase_date'].dt.month
df['day'] = df['purchase_date'].dt.day
df['hour'] = df['purchase_date'].dt.hour

# 2️⃣ Day of week (0 = Monday, 6 = Sunday)
df['day_of_week'] = df['purchase_date'].dt.dayofweek

# 3️⃣ Weekend flag
df['is_weekend'] = df['day_of_week'].apply(lambda x: 1 if x >= 5 else 0)

# 4️⃣ Quarter of the year
df['quarter'] = df['purchase_date'].dt.quarter

# 5️⃣ Time of day bucket (morning, afternoon, evening, night)
def time_of_day(hour):
    if 5 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 17:
        return 'Afternoon'
    elif 17 <= hour < 21:
        return 'Evening'
    else:
        return 'Night'

df['time_of_day'] = df['hour'].apply(time_of_day)

print("\nAfter Temporal Feature Generation:")
print(df)

Original Dataset:
   user_id       purchase_date  amount
0      101 2024-01-10 14:30:00    2500
1      102 2024-02-15 09:15:00    3200
2      103 2024-03-20 20:45:00    1800
3      104 2024-07-05 11:10:00    4000
4      105 2024-12-25 18:00:00    5000

After Temporal Feature Generation:
   user_id       purchase_date  amount  year  month  day  hour  day_of_week  \
0      101 2024-01-10 14:30:00    2500  2024      1   10    14            2
1      102 2024-02-15 09:15:00    3200  2024      2   15     9            3
2      103 2024-03-20 20:45:00    1800  2024      3   20    20            2
3      104 2024-07-05 11:10:00    4000  2024      7    5    11            4
4      105 2024-12-25 18:00:00    5000  2024     12   25    18            2

   is_weekend  quarter time_of_day
0           0        1   Afternoon
1           0        1     Morning
2           0        1     Evening
3           0        3     Morning
4           0        4     Evening

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# --------------------------------
# Sample dataset
# --------------------------------
data = {
    'Customer_ID': [1, 2, 3, 4, 5],
    'Gender': ['Male', 'Female', 'Female', 'Male', 'Male'],
    'City': ['Mumbai', 'Delhi', 'Pune', 'Delhi', 'Chennai'],
    'Purchased': ['Yes', 'No', 'Yes', 'No', 'Yes']
}

df = pd.DataFrame(data)
print("Original Dataset:")
print(df)

# --------------------------------
# 1️⃣ Label Encoding
# --------------------------------
# Label Encoding converts each category into an integer
le = LabelEncoder()

df['Gender_Label'] = le.fit_transform(df['Gender'])
df['City_Label'] = le.fit_transform(df['City'])
df['Purchased_Label'] = le.fit_transform(df['Purchased'])

print("\nAfter Label Encoding:")
print(df[['Gender', 'Gender_Label', 'City', 'City_Label', 'Purchased', 'Purchased_Label']])

# --------------------------------
# 2️⃣ One Hot Encoding
# --------------------------------
# Each unique category becomes a separate binary column (0 or 1)
df_onehot = pd.get_dummies(df[['Gender', 'City']], drop_first=False)

print("\nAfter One Hot Encoding:")
print(df_onehot)

# Combine encoded features with original data
encoded_df = pd.concat([df, df_onehot], axis=1)

print("\nFinal Encoded DataFrame:")
print(encoded_df)

Original Dataset:
   Customer_ID  Gender     City Purchased
0            1    Male   Mumbai       Yes
1            2  Female    Delhi        No
2            3  Female     Pune       Yes
3            4    Male    Delhi        No
4            5    Male  Chennai       Yes

After Label Encoding:
   Gender  Gender_Label     City  City_Label Purchased  Purchased_Label
0    Male             1   Mumbai           2       Yes                1
1  Female             0    Delhi           1        No                0
2  Female             0     Pune           3       Yes                1
3    Male             1    Delhi           1        No                0
4    Male             1  Chennai           0       Yes                1

After One Hot Encoding:
   Gender_Female  Gender_Male  City_Chennai  City_Delhi  City_Mumbai  \
0          False         True         False       False         True
1           True        False         False        True        False
2           True        False         False       False        False
3          False         True         False        True        False
4          False         True          True       False        False

   City_Pune
0      False
1      False
2       True
3      False
4      False

Final Encoded DataFrame:
   Customer_ID  Gender     City Purchased  Gender_Label  City_Label  \
0            1    Male   Mumbai       Yes             1           2
1            2  Female    Delhi        No             0           1
2            3  Female     Pune       Yes             0           3
3            4    Male    Delhi        No             1           1
4            5    Male  Chennai       Yes             1           0

   Purchased_Label  Gender_Female  Gender_Male  City_Chennai  City_Delhi  \
0                1          False         True         False       False
1                0           True        False         False        True
2                1           True        False         False       False
3                0          False         True         False        True
4                1          False         True          True       False

   City_Mumbai  City_Pune
0         True      False
1        False      False
2        False       True
3        False      False
4        False      False

In [ ]:
# Temporal Feature Generation Example

import pandas as pd
import numpy as np

# Sample dataset with datetime column
data = {
    'timestamp': pd.date_range(start='2024-01-01', periods=10, freq='D')
}

df = pd.DataFrame(data)

# Generating temporal features
df['year'] = df['timestamp'].dt.year
df['month'] = df['timestamp'].dt.month
df['day'] = df['timestamp'].dt.day
df['day_of_week'] = df['timestamp'].dt.dayofweek
df['hour'] = df['timestamp'].dt.hour
df['is_weekend'] = df['day_of_week'].apply(lambda x: 1 if x >= 5 else 0)
df['week_of_year'] = df['timestamp'].dt.isocalendar().week

print("✅ Temporal Feature Generation Complete!\n")
print(df)

✅ Temporal Feature Generation Complete!

   timestamp  year  month  day  day_of_week  hour  is_weekend  week_of_year
0 2024-01-01  2024      1    1            0     0           0             1
1 2024-01-02  2024      1    2            1     0           0             1
2 2024-01-03  2024      1    3            2     0           0             1
3 2024-01-04  2024      1    4            3     0           0             1
4 2024-01-05  2024      1    5            4     0           0             1
5 2024-01-06  2024      1    6            5     0           1             1
6 2024-01-07  2024      1    7            6     0           1             1
7 2024-01-08  2024      1    8            0     0           0             2
8 2024-01-09  2024      1    9            1     0           0             2
9 2024-01-10  2024      1   10            2     0           0             2